@import url("https://fonts.googleapis.com/css2?family=Dokdo&family=Gloria+Hallelujah&display=swap");

/* font-family: 'Dokdo', cursive; */
/* font-family: 'Gloria Hallelujah', cursive; */

nav {
    background: none;
}

.navbar {
    background: none;
}

.beer-bottle {
    height: 150px;
    width: 8%;
    position: relative;
    top: 75px;
    background: none;
}
.nav-button {
    background-image: radial-gradient(#dee1e4, #aaa9ad) ;
    width: 23%;
    border: none;
}

.nav-link {
    text-decoration: none;
    background: none;
}

.tab-name {
    color: #000C66;
    background: none;
    font-family: 'Gloria Hallelujah', cursive;
}

.nav-button:hover {
    background: #FFBF00;
}

.tab-name:hover {
    color: white;
}

.extra-nav {
    background: none;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 550px) {
    .navbar {
        padding-top: 15px;
    }
}

@media only screen and (min-width: 700px) {
    .beer-bottle {
        height: 200px;
    }
}

@media only screen and (min-width: 1000px) {
    .beer-bottle {
        height: 250px;
    }
}

@media only screen and (min-width: 1200px) {
    .beer-bottle {
        height: 300px;
        width: 75px;
    }

    .nav-button {
        width: 23.25%;
    }
}