@import url("https://fonts.googleapis.com/css2?family=Dokdo&display=swap");

main, main div {
background: none;
}

header {
    background: none;
    width: 100%;
    display: flex;
    justify-content: center;
}

.tagline {
    background: none;
    color: white;
    font-family: 'Dokdo', cursive;
    font-size: 40px;
    text-align: center;
    position: absolute;
    z-index: 1;
}

.store-image {
    float: right; 
    width: 75%;
    height: 25%;
    position: relative;
    z-index: 0;
    background: none;
}

@media only screen and (min-width: 550px) {
    .tagline {
        font-size: 50px;
    }
}

@media only screen and (min-width: 825px) {
    .tagline {
        font-size: 75px;
    }
}

@media only screen and (min-width: 1000px) {
    .tagline {
        font-size: 75px;
    }
}

@media only screen and (min-width: 1200px) {
    .tagline {
        font-size: 100px;
    }
}