@import url("https://fonts.googleapis.com/css2?family=Dokdo&family=Gloria+Hallelujah&display=swap");

.slushy-title {
color: white;
font-family: 'Dokdo', cursive;
padding-top: 100px;
margin-left: 20%;
font-size: 50px;
margin-top: -5%;
background: none;
}

.slushy-div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    background: none;
}
.slushy-div img {
    height: 300px;
    width: 225px;
    opacity: 100%;
    margin: 10px;
    background: none;
}

.slushy-header-image {
    width: 50%;
    background: none;
}