.cart-div {
    background: none;
    display: flex;
    justify-content: flex-end;
}

.cart-image {
    background: none;
    height: 50px;
    width: 50px;
    margin: 10px;
}

.toggle-cart {
    background: none;
}
/* 
.cart-title {

} */