@import url("https://fonts.googleapis.com/css2?family=Dokdo&display=swap");

main, main div {
background: none;
}

header {
    background: none;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: -200px;
}

.tagline {
    background: none;
    color: white;
    font-family: 'Dokdo', cursive;
    font-size: 40px;
    text-align: center;
    z-index: 1;
}

.tagline-div {
    z-index: 1;
}

.store-image-div {
    display: flex;
    justify-content: center;
    top: -200px;
    z-index: 0;
}

.store-image {
    background: none;
    width: 100%;
    z-index: 0;
}

@media only screen and (max-width: 550px) {
    .tagline {
        font-size: 40px;
    }

    .store-image-div {
        margin-bottom: 125px;
    }
}

@media only screen and (min-width: 550px) {
    .tagline {
        font-size: 50px;
    }

    .store-image-div {
        margin-bottom: 125px;
    }
}

@media only screen and (min-width: 825px) {
    .tagline {
        font-size: 75px;
    }

    .store-image {
        width: 75%;
    }
}

@media only screen and (min-width: 1000px) {
    .tagline {
        font-size: 75px;
    }
}

@media only screen and (min-width: 1200px) {
    .tagline {
        font-size: 100px;
    }
}