@import url("https://fonts.googleapis.com/css2?family=Dokdo&family=Gloria+Hallelujah&display=swap");

.slushy-title-div {
  display: flex;
  background: none;
  justify-content: space-around;
  align-items: center;
}
.slushy-title {
color: white;
font-family: 'Dokdo', cursive;
padding-top: 100px;
margin-left: 20%;
font-size: 50px;
margin-top: -5%;
background: none;
}

.each-slide-effect, .slushy-image, .image, .react-slideshow-container, .react-slideshow-wrapper, #root div {
  background: none;
}

#root .react-slideshow-container svg {
  background: none;
}

.slushy-header-image {
  width: 50%;
  background: none;
}

.each-slide-effect {
  width: 100%;
}

.slushy-image {
  height: 500px;
}

@media only screen and (min-width: 890px) {
.slushy-image {
  height: 1000px;
}
}