@import url("https://fonts.googleapis.com/css2?family=Dokdo&family=Gloria+Hallelujah&display=swap");

.slushy-title-div {
  display: flex;
  background: none;
  justify-content: space-around;
  align-items: center;
}
.slushy-title {
color: white;
font-family: 'Dokdo', cursive;
padding-top: 100px;
margin-left: 20%;
font-size: 50px;
margin-top: -5%;
background: none;
}

.slushy-slideshow, .each-slide-effect, .slushy-image, .image, .react-slideshow-container, .react-slideshow-wrapper, #root div {
  background: none;
}

#root .react-slideshow-container svg {
  background: none;
}

.slushy-header-image {
  width: 50%;
  background: none;
}

.each-slide-effect span {
  padding: 20px;
  font-size: 100px;
  background: none;
  text-align: center;
  font-family: 'Gloria Hallelujah', cursive;
  position: relative;
  top: 225px;
  left: 60px;
}

.slushy-description {
  color: white;
  background: none;
  font-family: 'Gloria Hallelujah', cursive;
  list-style: none;
  font-size: 30px;
  display: flex;
  float: right;
  flex-direction: column;
  margin-top: 200px;
  margin-right: 25%;
}

.slushy-description li {
  background: none;
  text-align: center;
}